@model IEnumerable<EmployeeManagementSystem.Models.ViewModels.NotificationViewModel>

<h2>My Notifications</h2>

@if (!Model.Any())
{
    <p>No new notifications 🎉</p>
}
else
{
    <ul class="list-group">
        @foreach (var n in Model)
        {
            <li class="list-group-item">
                <b>@n.Message</b> <br />
            </li>
        }
    </ul>
}
